@page "/edit-line/{lineId}"
@using HopInLine.Data.Line;

<h3>Edit Line - [@LineId]</h3>

<div>
    <p>To edit the line, please update the following details:</p>
</div>

<div class="form-group">
    <label for="lineName">Line Name:</label>
    <input type="text" id="lineName" @bind="line.Name" class="form-control" placeholder="Enter line name" />
</div>

<div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" @bind="line.Description" class="form-control" placeholder="Enter description"></textarea>
</div>

<div class="form-group">
    <label for="autoAdvanceLine">Auto-Advance Line:</label>
    <input type="checkbox" id="autoAdvanceLine" @bind="line.AutoAdvanceLine" class="form-check-input" />
</div>

<div class="form-group">
    <label for="autoAdvanceMinutes">Auto-Advance Interval (Minutes):</label>
    <input type="number" 
           id="autoAdvanceMinutes" 
           @bind="autoAdvanceMinutes"
           class="form-control" 
           disabled="@(line.AutoAdvanceLine ? false : true)" 
           min="1" 
           max="999" 
           step="1" />
</div>

<div class="form-group">
    <label for="autoReAdd">Auto Re-Add:</label>
    <input type="checkbox" id="autoReAdd" @bind="line.AutoReAdd" class="form-check-input" />
</div>

<button @onclick="Delete" class="btn btn-success">Delete</button>
<button @onclick="SaveChanges" class="btn btn-success">Save</button>
<button @onclick="Cancel" class="btn btn-danger">Cancel</button>

@code {
    [Inject]
    private LineService LineService { get; set; } = null!;
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    [Parameter]
    public string LineId { get; set; } = string.Empty;

    private Line line;
    private int autoAdvanceMinutes;

    protected override async Task OnInitializedAsync()
    {
        // Load the line details based on the LineId parameter
        line = await LineService.GetLineByIdAsync(LineId);
        autoAdvanceMinutes = (int)line.AutoAdvanceInterval.TotalMinutes;
    }

    private async Task SaveChanges()
    {
        line.AutoAdvanceInterval = TimeSpan.FromMinutes(autoAdvanceMinutes);
        var updatedLine = await LineService.UpdateLineAsync(line);

        if (updatedLine == null)
        {
            // Handle error
            return;
        }
        else
        {
            NavigationManager.NavigateTo($"/view-line/{updatedLine.Id}");
        }
    }

    private async Task Delete()
    {
        await LineService.DeleteLineAsync(LineId);
        NavigationManager.NavigateTo($"/view-line/{LineId}");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo($"/view-line/{LineId}");
    }
}
